.footer {

    &__content {
    }

    &__body {
        @media (min-width: $md2+px){
            display: flex;
            margin: 0 -15px;
        }	
    }

    &__column {
        @media (min-width: $md2+px){
            padding: 0 15px;
            flex: 0 1 50%;
        }	
        margin: 0 0 25px 0;
        &:first-child {
            display: flex;
            flex-direction: column;
        }
    }

    &__block {
    }

    &__payments {
        img {
            max-width: 100%;
        }
        @media (max-width: 560px){
            text-align: center;
        }
    }

    &__widgets {
    }

    &__bottom {
        padding: 10px 0;
        border-top: 1px solid #dadada;
        text-align: center;
        @media (min-width: 560px){
            text-align: left;
            display: flex;
            align-items: center;
        }  
    }

    &__copy {
        flex: 1 1 auto;
        color: #999999;
        font-size: 12px;
        font-weight: 300;
        @media (max-width: 560px){
            margin: 0 0 10px 0;
        }          
    }

    &__social {
    }
}

.block-footer {
    padding: 0 0 20px 0;
    text-align: center;
    @media (min-width: 560px){
        text-align: left;
        display: flex;
        flex: 1 1 auto;
    }    
    &__column {
        &:first-child {
            flex: 0 0 165px;
        }
        &:last-child {
            flex: 1 1 auto;
            @media (min-width: 560px){
                padding: 0 0 0 45px;
            }               
        }
    }

    &__phones {
        padding: 0 0 0 15px;
        @media (min-width: 560px){
            padding: 0 0 0 35px;
            background: url("../img/icons/footer-phone.png") left no-repeat;
        }            
        p {
            margin: 0 0 10px 0;
            &:last-child {
                margin: 0;
            }
        }
        @media (max-width: 560px){
            font-size: 18px;
            margin: 0 0 30px 0;
        }         
    }

    &__phone {
        color: #333333;
        font-weight: 900;
    }

    &__delivery {
    }
}
.logo-footer {
    display: inline-block;
    margin: 0 0 30px 0;
}
.delivery-footer {
    @media (max-width: 560px){
        text-align: center;
    }   
    &__title {
        color: #999999;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        margin: 0 0 10px 0;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        align-items: center;
        @media (max-width: 560px){
            justify-content: center;
        }          
    }

    &__item {
        padding: 15px;
    }
}
.widgets-footer {
    display: flex;
    margin: 0 -15px;
    @media (min-width: $md2+px){
        justify-content: flex-end;
    }
    @media (max-width: 560px){
        display: block;
        text-align: center;
    }		
    &__column {
        padding: 0 15px;
        img {
            max-width: 100%;
        }
    }
}
.social-footer {
    display: flex;
    align-items: center;
    &__item {
        margin: 0 0 0 10px;
    }
    @media (max-width: 560px){
        justify-content: center;
        &__item {
            margin: 0 5px;
        }
    }	
}